page-trajets {
    @import "../../../node_modules/ionic2-auto-complete/auto-complete";

    ion-content{

      background-image: url('../assets/imgs/GareFlou.jpg');
      -webkit-background-size:cover;
      background-repeat: no-repeat;

    }
    #logo {
        font-size: 3.0rem;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .but {
        display: block;
        margin : auto;
        margin-top: 30px;
    }


    #txt {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.2;

      color: black;
    }

    #tooop {
        margin-top: 120px;
    }

    .center {
        text-align: center;
        color: white;
    }
}
