page-trajets {
    @import "../../../node_modules/ionic2-auto-complete/auto-complete";

    ion-content{
        
        background-image: url('../assets/imgs/trainflou.jpg');
        background-size:cover;
        -webkit-background-size:cover;
        background-repeat: no-repeat;
    }

    #logo {
        font-size: 3.4rem;
        margin-top: 40px;
        margin-bottom: 90px;
    }

    .but {
        width: 180px;
        display: block;
        margin : auto;
        margin-top: 10px;
        background-color: #3F51B5;
    }

    #butTT {
        display: block;
        margin : auto;
        margin-top: 10px;
        background-color: #3F51B5;
        width: 145 px;
    }


    #topRch {
        margin-top: 15px;
    }

    #txt {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.2;

      color: black;
    }

    #tooop {
        margin-top: 0px;
    }

    .center {
      text-align: center;
      color:black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
    }


   // --------------------SEARCH BAR CHANGEMENTS -------------------

}
