page-add {
  #but {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  ion-content:after{
        
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../assets/imgs/trainflou.jpg');
    width: 100%;
    height: 100%;
    opacity : 0.4;
}
  #cardAC {
    margin-top: 50px;
  }
}
