page-add {
  #but {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  ion-content{

    background-image: url('../assets/imgs/GareFlou.jpg');
    background-size:cover;
    -webkit-background-size:cover;
    background-repeat: no-repeat;
  }
  #cardAC {
    margin-top: 50px;
  }
}
