page-add {
  #but {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  ion-content::before{
    content: ' ';
    position: absolute;
    margin-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background-image: url('../assets/imgs/GareFlou.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #cardAC {
    margin-top: 50px;
  }
}
