page-details {
    ion-content{
        
        background-image: url('../assets/imgs/GareFlou.jpg');
        background-size:cover;
        -webkit-background-size:cover;
        background-repeat: no-repeat;
    
    }
}
